/* TailwindCSS default breakpoints:
// sm:    640px
// md:    768px
// lg:    1024px
// xl:   1280px
// 2xl:  1536px */

html {
}

body::before {
  content: attr(data-width) "px";
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  color: lime;
  padding: 5px;
  z-index: 9999;
  font-family: monospace;
}
body {
  font-family: 'Geologica';    min-height: 100vh; /* Εξασφαλίζει ότι το site έχει τουλάχιστον το ύψος της οθόνης */

}

custom {
    position: relative;
    overflow: hidden;
  }
  
  custom::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/images/sinetairismos__logo_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.1; /* πιο διακριτικό */
    z-index: 0;
  }
  
  custom > * {
    position: relative;
    z-index: 10;
  }